@model IEnumerable<CuraVet.Models.Prodotto>

@{
    ViewBag.Title = "Index";
}

<div class="row row-cols-3">
    @foreach (var item in Model)
    {
        <div class="col my-2">
            <div class="card text-center">
                <div class="card-header text-custom"><h2> @item.Nome </h2> </div>
                <div class="card-body">
                    <p class="card-title"><strong class="text-custom">Tipologia: </strong>@item.Tipologia</p>
                    <p class="card-text"><strong class="text-custom">Descrizione: </strong>@item.Descrizione</p>
                    <p class="card-text"> <strong class="text-custom">Armadio: </strong> @item.Armadio</p>
                    <p class="card-text">  <strong class="text-custom"> Cassetto: </strong> @item.Cassetto</p>
                    <p class="card-text"></p>
                    @Html.ActionLink("Aggiungi Vendita", "AddVendita", new { id = item.IdProdotto }, new { @class = "btn btn-custom" })
                </div>
                <div class="card-footer text-muted"> <h4> <strong class="text-custom"> @item.Ditta.Nome</strong> </h4> </div>
            </div>
        </div>
    }
</div>
