@model IEnumerable<CuraVet.Models.Prodotto>

@{
    ViewBag.Title = "Index";
}

<div class="row row-cols-3">
    @foreach (var item in Model)
    {
        <div class="col my-2">
            <div class="card text-center">
                <div class="card-header">@item.Nome</div>
                <div class="card-body">
                    <h5 class="card-title">@item.Tipologia</h5>
                    <p class="card-text">@item.Descrizione</p>
                    <p class="card-text">Armadio: @item.Armadio</p>
                    <p class="card-text">Cassetto: @item.Cassetto</p>
                    <p class="card-text"></p>
                    @Html.ActionLink("Aggiungi Vendita", "AddVendita", new { id = item.IdProdotto }, new { @class = "btn btn-custom" })
                </div>
                <div class="card-footer text-muted">@item.Ditta.Nome</div>
            </div>
        </div>
    }
</div>
