@model IEnumerable<CuraVet.Models.Vendita>

@{
    ViewBag.Title = "List";
}

<div class="d-flex justify-content-between">
    <div class="accordion accordion-borderless w-50 mx-2" id="accordionFlush1X">
        <label for="dateField" class="form-label">Seleziona una data</label>
        <div class="input-group">
            <input type="date" class="form-control" id="dateField" />
        </div>
        <div class="accordion-item mt-3">
            <h2 class="accordion-header" id="flush-headingOneX">
                <button class="accordion-button btn btn-custom" type="button" data-mdb-toggle="collapse" id="buttonForDate"
                        data-mdb-target="#flush-collapseOneX" aria-expanded="true" aria-controls="flush-collapseOneX">
                    Visualizza Medicinali venduti in una Data selezionata
                </button>
            </h2>
            <div id="flush-collapseOneX" class="accordion-collapse collapse"
                 aria-labelledby="flush-headingOneX" data-mdb-parent="#accordionFlush1X">
                <div class="accordion-body" id="prodottiPerData">
                </div>
            </div>
        </div>
    </div>
    <div class="accordion accordion-borderless w-50 mx-2" id="accordionFlush2X">
        <label for="CFField" class="form-label">Inserisci CF Cliente</label>
        <div class="input-group">
            <input type="text" placeholder="Inserisci CF" class="form-control" id="CFField" />
        </div>
        <div class="accordion-item mt-3">
            <h2 class="accordion-header" id="flush-headingTwoX">
                <button class="accordion-button btn btn-custom" type="button" data-mdb-toggle="collapse" id="buttonForCF"
                        data-mdb-target="#flush-collapseTwoX" aria-expanded="true" aria-controls="flush-collapseTwoX">
                    Visualizza Medicinali venduti per CF Cliente
                </button>
            </h2>
            <div id="flush-collapseTwoX" class="accordion-collapse collapse"
                 aria-labelledby="flush-headingTwoX" data-mdb-parent="#accordionFlush2X">
                <div class="accordion-body" id="prodottiPerCF">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-3">
    @foreach (var item in Model)
    {
        <div class="col my-2">
            <div class="card text-center">
                <div class="card-header"> <h3 class="text-custom"> <strong> @item.Cliente.Cognome @item.Cliente.Nome </strong> </h3> </div>
                <div class="card-body">
                    <h5 class="card-title"><strong class="text-custom"> Prdotto:</strong> @item.Prodotto.Nome</h5>
                    <p class="card-text"><strong class="text-custom">Quantità:</strong> @item.Quantita</p>
                    <p class="card-text"><strong class="text-custom">Ricetta:</strong> @item.RicettaMedica</p>
                </div>
                <div class="card-footer text-custom">Data: @item.Data.ToShortDateString()</div>
            </div>
        </div>
    }
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#buttonForDate").click(function () {
                $("#prodottiPerData").empty();
                var date = $("#dateField").val()
                $.ajax({
                    method: 'GET',
                    url: "GetProductByDate",
                    data: {date: date},
                    success: function (data) {
                        $.each(data, function (i, v) {
                            console.log(data);
                            var licurrent = "<li>" +
                                "<span class='text-custom fw-bold'> IdProdotto: </span>" + "#" + v.IdProdotto + " " + "<span class='text-custom fw-bold'> Quantità: </span>" +v.Quantita
                                "</li>";
                            $("#prodottiPerData").append(licurrent);
                        });
                    }
                });
            });

            $("#buttonForCF").click(function () {
                $("#prodottiPerCF").empty();
                var cf = $("#CFField").val()
                $.ajax({
                    method: 'GET',
                    url: "GetProductByCF",
                    data: { cf: cf },
                    success: function (data) {
                        $.each(data, function (i, v) {
                            var licurrent = "<li>" +
                                "<span class='text-custom fw-bold'> CF: </span>" + cf + " " +
                                "<span class='text-custom fw-bold'> IdProdotto: </span>"+ "#" + v.IdProdotto + " " +
                                "<span class='text-custom fw-bold'> Quantità: </span>" + v.Quantita
                            "</li>";
                                "</li>";
                            $("#prodottiPerCF").append(licurrent);
                        });
                    }
                });
            });
        });
    </script>
}
