@model IEnumerable<CuraVet.Models.Vendita>

@{
    ViewBag.Title = "List";
}

<div class="d-flex justify-content-between">
    <div class="accordion accordion-borderless w-50 mx-2" id="accordionFlush1X">
        <input type="date" class="text-center" id="dateField" />
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOneX">
                <button class="accordion-button btn btn-custom" type="button" data-mdb-toggle="collapse" id="buttonForDate"
                        data-mdb-target="#flush-collapseOneX" aria-expanded="true" aria-controls="flush-collapseOneX">
                    Visualizza Medicinali venduti in una Data selezionata
                </button>
            </h2>
            <div id="flush-collapseOneX" class="accordion-collapse collapse"
                 aria-labelledby="flush-headingOneX" data-mdb-parent="#accordionFlush1X">
                <div class="accordion-body" id="prodottiPerData">
                </div>
            </div>
        </div>
    </div>
    <div class="accordion accordion-borderless w-50 mx-2" id="accordionFlush2X">
        <input placeholder="Inserisci CF" class="text-center" id="CFField" />
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwoX">
                <button class="accordion-button btn btn-custom" type="button" data-mdb-toggle="collapse" id="buttonForCF"
                        data-mdb-target="#flush-collapseTwoX" aria-expanded="true" aria-controls="flush-collapseTwoX">
                    Visualizza Medicinali venduti per CF Cliente
                </button>
            </h2>
            <div id="flush-collapseTwoX" class="accordion-collapse collapse"
                 aria-labelledby="flush-headingTwoX" data-mdb-parent="#accordionFlush2X">
                <div class="accordion-body" id="prodottiPerCF">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-3">
    @foreach (var item in Model)
    {
        <div class="col my-2">
            <div class="card text-center">
                <div class="card-header">@item.Cliente.Cognome @item.Cliente.Nome</div>
                <div class="card-body">
                    <h5 class="card-title">@item.Prodotto.Nome</h5>
                    <p class="card-text">Quantità: @item.Quantita</p>
                    <p class="card-text">Ricetta: @item.RicettaMedica</p>
                </div>
                <div class="card-footer text-muted">Data: @item.Data.ToShortDateString()</div>
            </div>
        </div>
    }
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#buttonForDate").click(function () {
                $("#prodottiPerData").empty();
                var date = $("#dateField").val()
                $.ajax({
                    method: 'GET',
                    url: "GetProductByDate",
                    data: {date: date},
                    success: function (data) {
                        $.each(data, function (i, v) {
                            console.log(data);
                            var licurrent = "<li>" +
                                "#"+v.IdProdotto + " " +"Quantità: " +v.Quantita
                                "</li>";
                            $("#prodottiPerData").append(licurrent);
                        });
                    }
                });
            });

            $("#buttonForCF").click(function () {
                $("#prodottiPerCF").empty();
                var cf = $("#CFField").val()
                $.ajax({
                    method: 'GET',
                    url: "GetProductByCF",
                    data: { cf: cf },
                    success: function (data) {
                        $.each(data, function (i, v) {
                            var licurrent = "<li>" +
                              "CF: "+ cf + " "+ "#" + v.IdProdotto + " " + "Quantità: " + v.Quantita
                            "</li>";
                                "</li>";
                            $("#prodottiPerCF").append(licurrent);
                        });
                    }
                });
            });
        });
    </script>
}
