@model IEnumerable<CuraVet.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Aggiungi Cliente", "AddCliente","Cliente","", new {@class = "btn btn-custom"})
</p>

<div class="row row-cols-3">
    @foreach (var item in Model)
    {
        <div class="col my-2">
            <div class="card text-center">
                <div class="card-header text-custom"> <h2>@item.Cognome @item.Nome</h2></div>
                <div class="card-body">
                    <h6 class="card-title">CF: @item.CF</h6>
                    <p class="card-text"></p>
                    @Html.ActionLink("Modifica", "Edit", new { id = item.IdCliente }, new { @class = "btn btn-custom" })
                    @Html.ActionLink("Elimina", "Delete", new { id = item.IdCliente }, new { @class = "btn btn-custom" })
                </div>
                <div class="card-footer text-muted"> </div>
            </div>
        </div>
    }
</div>
