@model IEnumerable<CuraVet.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Aggiungi Cliente", "AddCliente","Cliente","", new {@class = "btn btn-custom"})
</p>

<div class="row row-cols-3">
    @foreach (var item in Model)
    {
        <div class="col my-2">
            <div class="card text-center">
                <div class="card-header">@item.Cognome @item.Nome</div>
                <div class="card-body">
                    <h5 class="card-title">CF: @item.CF</h5>
                    <p class="card-text"></p>
                    @Html.ActionLink("Modifica", "ModifyCliente", new { id = item.IdCliente }, new { @class = "btn btn-custom" })
                </div>
                <div class="card-footer text-muted"> @Html.ActionLink("Elimina", "DeleteCliente", new { id = item.IdCliente }, new { @class = "btn btn-custom" })</div>
            </div>
        </div>
    }
</div>
