@model IEnumerable<CuraVet.Models.Ditta>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center my-2">Lista Ditte</h2>

 @Html.ActionLink("Aggiungi Ditta", "Create", "Ditta", "", new { @class = "btn btn-primary" })

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recapito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recapito)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indirizzo)
        </td>
        <td>
            @Html.ActionLink("Modifica", "Edit", new { id=item.IdDitta }, new {@class= "btn btn-warning"})
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDitta }, new {@class=" btn btn-danger"})
        </td>
    </tr>
}

</table>
