@model IEnumerable<CuraVet.Models.Ditta>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center text-custom my-2">Lista Ditte</h2>

 @Html.ActionLink("Aggiungi Ditta", "Create", "Ditta", "", new { @class = "btn btn-custom" })

<div class="row row-cols-3">
    @foreach (var item in Model)
    {
        <div class="col my-2">
            <div class="card text-center">
                <div class="card-header"> <h3 class="text-custom"> <strong> @item.Nome </strong></h3></div>
                <div class="card-body">
                    <h5 class="card-title">Telefono: @item.Recapito</h5>
                    <p class="card-text">Indirizzo: @item.Indirizzo</p>
                    <p class="card-text"></p>
                    @Html.ActionLink("Modifica", "Edit", new { id = item.IdDitta }, new { @class = "btn btn-custom" })
                    @Html.ActionLink("Elimina", "Delete", new { id = item.IdDitta }, new { @class = "btn btn-custom" })
                </div>
                
            </div>
        </div>
    }
</div>
