@model IEnumerable<CuraVet.Models.Prodotto>

@{
    ViewBag.Title = "Index";
}



<div class="my-2">
    @Html.ActionLink("Aggiungi Nuovo Prodotto", "Create", "Prodotto", "", new { @class = "btn btn-custom" })
    @Html.ActionLink("Visualizza Ditte", "Index", "Ditta", "", new { @class = "btn btn-custom" })
</div>

<div class="row row-cols-3">
    @foreach (var item in Model)
    {
        <div class="col my-2">
            <div class="card text-center">
                <div class="card-header">@item.Nome</div>
                <div class="card-body">
                    <h5 class="card-title">@item.Tipologia</h5>
                    <p class="card-text">@item.Descrizione</p>
                    <p class="card-text">Armadio: @item.Armadio</p>
                    <p class="card-text">Cassetto: @item.Cassetto</p>
                    <p class="card-text"></p>
                    @Html.ActionLink("Modifica", "Edit", new { id = item.IdProdotto }, new { @class = "btn btn-custom" })
                    @Html.ActionLink("Elimina", "Delete", new { id = item.IdProdotto }, new { @class = "btn btn-custom" })
                </div>
                <div class="card-footer text-muted">Presente: @Html.DisplayFor(model => item.Presente)</div>
            </div>
        </div>
    }
</div>


