@model IEnumerable<CuraVet.Models.Prodotto>

@{
    ViewBag.Title = "Index";
}



<div class="my-2">
    @Html.ActionLink("Aggiungi Nuovo Prodotto", "Create", "Prodotto", "", new { @class = "btn btn-custom" })
    @Html.ActionLink("Visualizza Ditte", "Index", "Ditta", "", new { @class = "btn btn-custom" })
</div>

<div class="row row-cols-3">
    @foreach (var item in Model)
    {
        <div class="col my-2">
            <div class="card text-center">
                <div class="card-header"> <h3> <strong class="text-custom"> @item.Nome </strong></h3> </div>
                <div class="card-body">
                    <h5 class="card-title"><strong class="text-custom">Tipologia </strong> @item.Tipologia</h5>
                    <p class="card-text"><strong class="text-custom">Descrizione </strong> @item.Descrizione</p>
                    <p class="card-text"><strong class="text-custom">Armadio: </strong> @item.Armadio</p>
                    <p class="card-text"><strong class="text-custom">Cassetto: </strong> @item.Cassetto</p>
                    <p class="card-text"></p>
                    @Html.ActionLink("Modifica", "Edit", new { id = item.IdProdotto }, new { @class = "btn btn-custom" })
                    @Html.ActionLink("Elimina", "Delete", new { id = item.IdProdotto }, new { @class = "btn btn-custom" })
                </div>
                <div class="card-footer text-custom">Presente: @Html.DisplayFor(model => item.Presente)</div>
            </div>
        </div>
    }
</div>


