@model CuraVet.Models.Tipologia

@{
    ViewBag.Title = "AddTipologia";
}

<h2>AddTipologia</h2>
<h2>TipologiaList</h2>
@if (ViewBag.Message != null)
{
    <div class="alert alert-danger">
        @ViewBag.Message
    </div>
}

<div class="d-flex gap-3">
    @Html.ActionLink("Vedi lista tipologie registrate", "TipologiaList")
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>𝐀𝐠𝐠𝐢𝐮𝐧𝐠𝐢 𝐮𝐧 𝐧𝐮𝐨𝐯𝐚 𝐭𝐢𝐩𝐨𝐥𝐨𝐠𝐢𝐚</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-2">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
