@model CuraVet.Models.Animale

@{
    ViewBag.Title = "AnimaleDetails";
}



<div>
    <h4>𝐃𝐞𝐭𝐭𝐚𝐠𝐥𝐢 𝐝𝐞𝐥𝐥'𝐚𝐧𝐢𝐦𝐚𝐥𝐞</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome del propietario
        </dt>

        <dd>
            @if (Model.Cliente!=null)
            {
                @Html.DisplayFor(model => model.Cliente.Nome)
            }
            else
            {
                <p>N.D</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipologia.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipologia.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataRegistrazione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataRegistrazione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Razza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Razza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Microchip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Microchip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

    </dl>
    <div>
        <h2>Storico degli esami:</h2>
        @Html.ActionLink("Aggiungi Visita", "AddVisita", new { id = Model.IdAnimale })
        @foreach (CuraVet.Models.Visita v in Model.Visita)
        {
            <div class="border border-1 p-3">
                <a href="/Clinica/ModifyVisita/@v.IdVisita" class="btn btn-primary">Modifica</a>
                <p><strong>Tipo di esame:</strong>@v.TipoEsame</p>
                <p><strong>Descrizione:</strong>@v.Descrizione</p>
                <p><strong>Data:</strong>@v.DataVisita.ToShortDateString()</p>
            </div>
        }
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAnimale }) |
    @Html.ActionLink("Back to List", "Index")
</p>
