@model IEnumerable<CuraVet.Models.Animale>

@{
    ViewBag.Title = "AnimaliList";
}


<div class="d-flex gap-3">
    <p>
        @Html.ActionLink("Home", "Index")
    </p>
    <p>
        @Html.ActionLink("Aggiungi un Animale", "AddAnimal")
    </p>
    <p>
        @Html.ActionLink("Aggiungi un tipo di animale", "AddTipologia")
    </p>
</div>
<h2 class="text-center my-3">Storico degli animali curati</h2>
    @foreach (CuraVet.Models.Animale a in Model)
    {
        <div class="card">
            <div class="card-header">Tipo di animale: <strong>@a.Tipologia.Tipo</strong></div>
            <div class="d-flex justify-content-between">
                <div class="card-body">
                    <h5 class="card-title">Registrato il: <strong>@a.DataRegistrazione.ToShortDateString()</strong></h5>
                    <p class="card-text">Nome: <strong>@a.Nome</strong></p>
                    @if (a.DataNascita != null)
                    {<p class="card-text">Data di nascita: <strong>@String.Format("{0:dd/MM/yyyy}", a.DataNascita)</strong></p>}
                    <p class="card-text">Colore: <strong>@a.Colore</strong></p>
                    <p class="card-text">Razza: <strong>@a.Razza</strong></p>
                    @if (a.Cliente != null)
                    {
                        <p class="card-text">Nome Propietario: <strong>@a.Cliente.Nome @a.Cliente.Cognome</strong></p>}
                    else
                    {
                        <p class="card-text">Nome Propietario: <strong>N.D</strong></p>
                    }
                    <div class="d-flex gap-3">
                        @Html.ActionLink("Dettagli", "AnimaleDetails", new { id = a.IdAnimale }, new { @class = "btn btn-custom" })
                        @Html.ActionLink("Delete", "Delete", new { id = a.IdAnimale }, new { @class = "btn btn-danger" })
                    </div>
                </div>
                    @if (a.Foto != null)
                    {<img class="img-thumbnail" src="~/Content/assets/@a.Foto" width="200"/>}

            </div>
        </div>
    }


