@model IEnumerable<CuraVet.Models.Cliente>

@{
    ViewBag.Title = "ClientiList";
}

<h2>𝐋𝐢𝐬𝐭𝐚 𝐝𝐞𝐢 𝐜𝐥𝐢𝐞𝐧𝐭𝐢</h2>

<p>
    @Html.ActionLink("Create New", "AddCliente")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CF)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cognome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CF)
        </td>
        <td>
            @Html.ActionLink("Edit", "ModifyCliente", new { id=item.IdCliente }) |
            @Html.ActionLink("Elimina", "DeleteCliente", new { id=item.IdCliente })
        </td>
    </tr>
}

</table>
